%section.dashboard.shift-tables{data: {workrole: {ids: WorkRole.ids}}}
  %h1.page_title
  %table.shift-table{data: {date: DateTime.now.strftime("%Y/%m/%d")}}
    %tr
      %th= @thisday.strftime('%Y年 %m月 %d日')
      - [*0..23].each do |d|
        - if d >= 8 && d <= 24
          %th
            = d
        - else
          %th.hidden
            = d
    - @users.each do |user|
      %tr
        %td
          = user.name
        - shifts_to_one_array(user, @thisday).each_with_index do |is_shift, shift_in_at|
          = shifts_list_item(user, @thisday, is_shift, shift_in_at)
    %tr.shift-table__resource
      %td.title{colspan: 17} 必要リソース
    - @work_roles.each do |wr|
      %tr
        %td= wr.name
        - resources_count_to_ary(wr.required_resources.on_thisday(@thisday)).each_with_index do |count, i|
          - if i >= 8 && i < 24
            %td{data:{resource_type: "req", workrole: {id: wr.id}, time: i}}
              = count
    %tr.shift-table__resource
      %td.title{colspan: 17} 確定シフト
    - @work_roles.each do |wr|
      %tr
        %td= wr.name
        - shifts_count_to_ary(wr.shifts.on_thisday(@thisday)).each_with_index do |count, i|
          - if i >= 8 && i <= 24
            %td{data:{resource_type: "sum", workrole: {id: wr.id}, time: i}}
              = count
