= link_to 'トップページ', root_path
%section.shift_api_create_page
  %h1.page_title シフト一覧
  %ul.workrole-example_lists
    - WorkRole.all.each do |workrole|
      %li.color_shift-data{data: {workrole: {id: workrole.id}}}
        = workrole.name
  .shift-tables.shift-slick_container{data: {workrole: {ids: WorkRole.ids}}}
    - (DateTime.parse(@period[:start])..DateTime.parse(@period[:finish])).each do |this_day|
      .shift-table{data: {date: this_day.strftime("%Y/%m/%d")}}
        %h
          = this_day.strftime("%Y/%m/%d")
        %table
          %tr
            %th
            - [*0..23].each do |d|
              - if d >= 8 && d <= 24
                %th
                  = d
              - else
                %th.hidden
                  = d
          - User.all.each do |user|
            - user_shifts = Shift.find_user_shift(user,this_day,@result[:shift])
            %tr
              %td
                = user.name
              - shifts_to_one_array(user_shifts).each_with_index do |is_shift, i|
                - if i >= 8 && i <= 24
                  - if is_shift
                    %td.color_shift-data{data: {workrole: {id: is_shift}}}
                  - else
                    %td
                - else
                  %td.hidden
          %tr.shift-table__resource
            -# table width 17 columns(24 - 8 + 1 + 1)
            %td.title{colspan: "17"}
              必要リソース
          - @result[:req].each do |req|
            - if this_day.strftime("%Y/%m/%d") == req[:date].strftime("%Y/%m/%d")
              %tr
                %td
                  = req[:workrole][:name]
                - req[:array].each_with_index do |data,i|
                  - if i >= 8 && i <= 24
                    %td{data:{resource_type: "req", workrole: {id: req[:workrole][:id]}, time: i}}
                      = data
                  - else
                    %td.hidden{data:{resource_type: "req", workrole: {id: req[:workrole][:id]}, time: i}}
          %tr.shift-table__resource
            -# table width 17 columns(24 - 8 + 1 + 1)
            %td.title{colspan: "17"}
              合計リソース
          - @result[:sum].each do |sum|
            - if this_day.strftime("%Y/%m/%d") == sum[:date].strftime("%Y/%m/%d")
              %tr
                %td
                  = sum[:workrole][:name]
                - sum[:array].each_with_index do |data,i|
                  - if i >= 8 && i <= 24
                    %td{data:{resource_type: "sum", workrole: {id: sum[:workrole][:id]}, time: i}}
                      = data
                  - else
                    %td.hidden{data:{resource_type: "sum", workrole: {id: sum[:workrole][:id]}, time: i}}
