<%= form_with(model: node_tree, local: true) do |form| %>
  <% if node_tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(node_tree.errors.count, "error") %> prohibited this node_tree from being saved:</h2>

      <ul>
      <% node_tree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
