<p id="notice"><%= notice %></p>

<h1>Node Trees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @node_trees.each do |node_tree| %>
      <tr>
        <td><%= node_tree.name %></td>
        <td><%= link_to 'Show', node_tree %></td>
        <td><%= link_to 'Edit', edit_node_tree_path(node_tree) %></td>
        <td><%= link_to 'Destroy', node_tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <span class='js-incorrect'>b1ブランチへコミットする</span>
  <span class='js-correct'>b2ブランチへコミットする</span>
  <span class='js-undo'>リセット</span>
</div>

<br>

<%= link_to 'New Node Tree', new_node_tree_path %>
