%section.employee-shifts.shift-tables{data: {workrole: {ids: WorkRole.ids}}}
  %h1.page_title #{current_user.name}さんの今月のシフト
  %ul.workrole-example_lists
    - @workroles.all.each do |workrole|
      %li.color_shift-data{data: {workrole: {id: workrole.id}}}
        = workrole.name
  %table
    %tr
      %th
      - [*0..23].each do |d|
        - if d >= 8 && d <= 24
          %th
            = d
        - else
          %th.hidden
            = d
    - @days.each do |day|
      %tr
        %td
          = day.strftime('%Y %m %d')
        - shifts_to_one_array(current_user, day).each_with_index do |is_shift, shift_in_at|
          = shifts_list_item(user, day, is_shift, shift_in_at)
