<!DOCTYPE html>
<html>
  <head>
    <title>TechVisual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'トップページ', root_path, method: :get %>
      <%= link_to 'マイページ', "users/1", method: :get %>
    </header>
    <%= yield %>
  </body>
</html>
